<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434869212348-v1emvss7nor4iggvfhlsqj0q598qlem6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434869212348-v1emvss7nor4iggvfhlsqj0q598qlem6</string>
	<key>API_KEY</key>
	<string>AIzaSyC5aUgxqjLsFAQNFcXchIxXjPjXYMu6X18</string>
	<key>GCM_SENDER_ID</key>
	<string>434869212348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managerTask</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-fce3b</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-fce3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434869212348:ios:f22b37f60d5e35804cacb9</string>
</dict>
</plist>